div.admonition.admonition-youtube {
  border-color: #A11E3B; /* T red */
  width: 100%
}
div.admonition.admonition-youtube > .admonition-title:before {
  background-color: #A11E3B;
}
div.admonition.admonition-youtube > .admonition-title:after {
  color: #A11E3B;
  content: "\f26c"; /* fa-solid fa-tv */
}